p {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flashy {
  font-style: italic;
  color: red;
}

.best {
  font-size: 20px;
  font-family: fantasy;
  font-style: bold;
  color: rgb(230, 173, 206);
}

h3 {
  font-size: 20px;
  text-align: center;
  font-style: bold;
  font-family: fantasy;
  color: rgb(0, 0, 0)
}

h2 {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  font-style: bold;
  color: rgb(255, 255, 255);
}

h1 {

  text-align: center;
  font-size: 1in;
  font-family: fantasy;
  color: rgb(187, 96, 248);
}

.cup1 {
  float: left;
  margin-left: 2cm;
  border-radius: 20px;
  background-color: rgb(139, 247, 125);
  border-style: solid;
  border-color: rgb(8, 219, 247);
  padding: 10px;
  height: 4in;
  width: 4in;
  box-sizing: border-box;
}

.cup2 {
  float: left;
  margin-left: 2cm;
  border-radius: 20px;
  background-color: rgb(101, 193, 255);
  border-style: solid;
  border-color: rgb(21, 255, 0);
  padding: 10px;
  height: 4in;
  width: 4in;
  box-sizing: border-box;
}

.cup3 {
  float: left;
  margin-left: 2cm;
  border-radius: 20px;
  background-color: rgb(250, 163, 1);
  border-style: solid;
  border-color :rgb(0, 60, 255);
  padding: 10px;
  height: 4in;
  width: 4in;
  margin-top: cm;
  box-sizing: border-box;
  margin-top: 2cm;
}

.cup4 {
  float: left;
  margin-left: 2cm;
  border-radius: 20px;
  background-color: rgb(240, 255, 155);
  border-style: solid;
  border-color: rgb(7, 0, 0);
  padding: 10px;
  height: 4in;
  width: 4in;
  box-sizing: border-box;
  margin-top: 2cm;
}

#burger {
  width: 1.8in;
  margin-left: 0.2in;
}

#milkshake {
  width: 1in;
  height: 1.9in;
  margin-left: 0.6in;
  margin-bottom: 1in;
}

.sidebar {
  float: left;
  margin-left: 2cm;
  background-color: rgb(150, 1, 250);
  font-style: oblique;
  font-family: fantasy;
  color: rgb(255, 208, 0);
  border-radius: 50px;
  line-height: 28px;
  border-style: solid;
  border-color: rgb(255, 208, 0);
  padding: 0%;
  width: 3in;
  height: 4in;
  box-sizing: border-box;
}

.sidebar2 {
  float: left;
  margin-left: 2cm;
  background-color: rgb(133, 247, 237);
  font-style: oblique;
  font-family: fantasy;
  color: rgb(0, 25, 253);
  border-radius: 50px;
  line-height: 28px;
  border-style: solid;
  border-color: rgb(255, 208, 0);
  padding: 0%;
  width: 3in;
  height: 4in;
  box-sizing: border-box;
  margin-top: 2cm;
}

#cup1 {
  width: 2in;
  margin-left: 1in;
}
#cup2 {
  width: 2.3in;
  margin-left: 0.8in;
}
#cup3 {
  width: 1.8in;
  margin-left: 1in;
}
#cup4 {
  width: 1.8in;
  margin-left: 1in;
  margin-bottom: 0.3in;
}

body {
  background-image: url('../img/polka.jpg');
  background-position: center;
}
